$primary-main: #fff;
$primary-alt: #ea7c69;
$primary-alt-dark: #975144;
$primary-selected: #9288e0;

$secondary-main: #252836;
$secondary-dark: #1f1d2b;

$light-grey: #abbbc2;
$grey: #393c49;
$bluish-grey: #2d303e;
$focus-grey: #353847;
$violet: #9288e0;

$br-main: 8px;
$br-secondary: 16px;
