@import "../../theme/index.scss";

.navBar {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: fixed;

  background-color: $secondary-dark;
  border-radius: 0 $br-main $br-main 0;
}
