@import "../../../theme/index.scss";

.orderItem {
  list-style: none;
  margin: 20px 0 20px 1px;

  & .orderItemContent {
    width: 100%;
    display: grid;
    column-gap: 1rem;
    margin: 10px 0 !important;
  }

  & .orderItemContent:first-child {
    grid-template-columns: 10fr repeat(2, 3fr);
  }

  & .orderItemContent:last-child {
    grid-template-columns: 93fr 20fr;
  }
}

.orderItem:last-of-type {
  & .orderItemContent {
    margin-bottom: 0;
  }
}

.orderItem:first-of-type {
  & .orderItemContent {
    margin-top: 0;
  }
}

.itemField {
  width: 100%;
  max-width: 198px;
  display: flex;
  align-items: center;

  & * {
    text-align: center;
  }

  & p {
    font-size: 0.95rem;
    text-align: left;
  }

  & .textContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.8rem;

    & p {
      font-size: 0.9rem;
      color: $light-grey;
    }

    & h6 {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & .imageContent {
    width: 20%;

    & img {
      width: 100%;
    }
  }
}
