@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Freckle+Face&display=swap");
@import "./theme/index.scss";

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
  background: $secondary-main;
  color: $primary-main;
  margin: 0;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 0.9rem;
  margin: 0;
}

html {
  font-size: 20px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  html {
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  html {
    // font-size: 16px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  html {
    font-size: 19px;
  }
}
